{% extends 'layout.html' %}

{% block body %}
<h1>Trade coins</h1>
<hr>
<form action="/transaction" method="POST">
  <div class="form-group">
    <label for="sender">Sender Private Key</label>
    <input class="form-control" type="text" name="sender" id="sender" placeholder="Enter key">
  </div>
  <div class="form-group">
    <label for="recipient">Recipient Public Key</label>
    <input class="form-control" type="text" name="recipient" id="recipient" placeholder="Enter key">
  </div>
  <div class="form-group">
    <label for="quantity">Quantity</label>
    <input class="form-control" type="text" name="quantity" id="quantity" placeholder="Enter quantity">
  </div>
  <button class="btn btn-primary">Submit</button>
</form>
{% endblock %}