{% extends 'layout.html' %}

{% block body %}
<h1>Log in</h1>
<hr>
<form action="/users/login" method="POST">
  <div class="form-group">
    <label for="user-name">User Name</label>
    <input class="form-control" type="text" name="user-name" id="user-name" placeholder="Enter the user's name">
  </div>
  <div class="form-group">
    <label for="user-password">Password</label>
    <input class="form-control" type="text" name="user-password" id="user-password" placeholder="Enter the user's password">
  </div>
  <div class="form-group">
    <label for="private-key">Private key</label>
    <input class="form-control" type="text" name="private-key" id="private-key" placeholder="Enter the user's private key">
  </div>
  <button class="btn btn-primary">Submit</button>
</form>
{% endblock %}