{% extends 'layout.html' %}

{% block body %}
<h1>Mine blocks</h1>
<hr>
<form action="/mine" method="POST" enctype="multipart/form-data">
  <div class="form-group">
    <label for="node_id">Node ID</label>
    <input class="form-control" type="text" name="node_id" id="node_id" placeholder="Enter your node's unique ID">
  </div>
  <div class="form-group">
    <label for="image">Image File</label>
    <input class="form-control-file" type="file" name="file" id="image">
  </div>
  <div class="form-group">
    <label for="label">Image Label</label>
    <input class="form-control" type="text" name="label" id="label" placeholder="Enter a label">
  </div>
  <div class="form-group">
    <label for="last_label">Last Block's Image Label</label>
    <input class="form-control" type="text" name="last_label" id="last_label" placeholder="Enter a label">
  </div>
  <button class="btn btn-primary">Submit</button>
</form>
<hr>
<h2>Latest chain</h2>
<p>{{ listchain }}</p>
{% endblock %}