{% extends 'layout.html' %}

{% block body %}
<h1>Nodes</h1>
<hr>
<h2>Node List</h2>
<ul class="list-group">
    {% for node in peers %}
    <li>{{ node }}</li>
    {% endfor %}
</ul>

<hr>
<form action="/nodes/register" method="POST">
  <div class="form-group">
    <label for="node_name">Node name</label>
    <input class="form-control" type="text" name="node_name" id="node_name" placeholder="Enter your node name">
  </div>
  <div class="form-group">
    <label for="node_type">Node type</label>
    <input class="form-control" type="text" name="node_type" id="node_type" placeholder="Enter your node type: miner or trader">
  </div>
  <div class="form-group">
    <label for="node_id">Node ID</label>
    <input class="form-control" type="text" name="node_id" id="node_id" placeholder="Enter your name ID">
  </div>
  <div class="form-group">
    <label for="node_key">Node public key</label>
    <input class="form-control" type="text" name="node_key" id="node_key" placeholder="Enter your node's public key for mining reward">
  </div>
  <button class="btn btn-primary">Submit</button>
</form>
{% endblock %}